:root {
    background-color: rgb(31, 61, 130);
    }

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 3;
    background-image: url(./stockimg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(52, 84, 159);
}

h1 {
    display: flex;
    font-size: 200%;
}

h2{
    color:white;
}
p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: solid  10px white;
    border-radius: 30px;
    margin-left: 12%;
    color: white;
}

nav ul{
    display:flex;
    list-style: none;
}

nav a {
    margin: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
