:root {
    background-color: rgb(162, 180, 223);
    }

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: rgb(180, 179, 179);
}

h1 {
    display: flex;
    font-size: 200%;
}

h2{
    color:rgb(0, 0, 0);
}

p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: solid  10px rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: 12%;
    color: rgb(0, 0, 0);
}

nav ul{
    display:flex;
    list-style: none;
}

nav a {
    margin: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img{
    width:100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
